header.header
  nav.nav.nav--tours
    a.nav__el(href='/') Biocore - Dmeta
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      .nav__el
        span= user.name.split(' ')[0]
    else
      a.nav__el.nav__el--login(href='/login') Log in
  nav.nav#session-env-config(style="display: none;" base_url= env.BASE_URL SSO_LOGIN= env.SSO_LOGIN SSO_URL= env.SSO_URL CLIENT_ID= env.CLIENT_ID)
    