extends _layout/default

block view
  div#ui-view
    div
      div.fade-in
        div.card
          div.card-body
            div.table-responsive(style="overflow-x:auto; width:100%")
              table#dmetaDetailedTable.table.table-striped(style='white-space: nowrap;table-layout:fixed; width:100%' cellspacing="0")
                thead
                  tr#dmetaDetailedTableHeader
                tbody