td.details-control {
  cursor: pointer;
}

/* 
Run Summary in Dmeta table
*/
.summary_card_hero {
  text-align: center;
  color: rgba(88, 165, 50, 1);
  font-size: 36px;
  height: 40px;
}

.summary_card table td:first-child {
  text-align: left;
}

.summary_card table td {
  padding: 1px 10px 1px 10px;
  overflow: hidden;
  text-align: right;
}
div.card-body.summary_card {
  white-space: normal;
}

.table-not-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
