// Breadcrumb
ol.breadcrumb.border-0.m-0(style={"display":"none"})
  li.breadcrumb-item 
    b#exp_series_num
    | &nbsp; Experiment Series
  li.breadcrumb-item
    b#exp_num
    | &nbsp; Experiments
  li.breadcrumb-item 
    b#samples_num
    | &nbsp; Samples
    // Breadcrumb Menu
