meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description', content='Biocore D-Meta Server')
meta(name='author', content='Onur Yukselen, Alper Kucukural')
meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')
title Biocore D-Meta | #{title}

link(rel='icon', type='image/png', href='img/favicon.ico')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='theme-color', content='#ffffff')

// Main styles for this application
link(href='css/custom.css', rel='stylesheet')
link(href='css/style.css', rel='stylesheet')
// Global site tag (gtag.js) - Google Analytics
//- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118965717-3')
//- script.
//-   window.dataLayer = window.dataLayer || [];
//-   function gtag(){dataLayer.push(arguments);}
//-   gtag('js', new Date());
//-   // Shared ID
//-   gtag('config', 'UA-118965717-3');
//-   // Bootstrap ID
//-   gtag('config', 'UA-118965717-5');
