div#crudModal.modal.fade(tabindex="-1" aria-modal="true" role="dialog")
    div.modal-dialog.modal-dialog-scrollable.modal-xl(role="document")
        div.modal-content
            div.modal-header
                h4#crudModalTitle.modal-title
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div#crudModalBody.modal-body    
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                button#crudModalYes.btn.btn-primary(type="button") Save

div#crudModal2.modal.fade(tabindex="-1" aria-modal="true" role="dialog" style="top:7%")
    div.modal-dialog.modal-dialog-scrollable.modal-lg(role="document")
        div.modal-content
            div.modal-header
                h4#crudModalTitle2.modal-title
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div#crudModalBody2.modal-body    
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                button#crudModalYes2.btn.btn-primary(type="button") Save

div#infoModal.modal.fade(tabindex="-1" aria-modal="true" role="dialog" style="z-index:1055;")
    div.modal-dialog.modal-dialog-scrollable.modal-lg(role="document")
        div.modal-content
            div.modal-header
                h4.modal-title Information
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
            div.modal-body 
                span#infoModalText
                <br/>
            div.modal-footer    
                button.btn.btn-secondary(type="button" data-dismiss="modal") OK
            
